.character-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.character-image {
  margin-top: 60px;
  width: 100vw;
  height: 25vw;
  object-fit: cover;
  object-position: 10% 30%;
  margin-bottom: 10px;
}

.character-info {
  text-align: left;
  margin-left: 26px;
  max-width: 600px;
}

.character-name {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
}

.character-description {
  margin-top: 10px;
  color: black;
  font-size: 1.4rem;
}

.comics-links {
  position: absolute;
  left: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.details-container > * {
  margin-right: 200px;
}

a {
  text-decoration: none;
  line-height: 1.5;
}