.character-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.character-image {
  margin-top: 60px;
  width: 100vw;
  height: 450px;
  object-fit: cover;
  object-position: 10% 30%;
}

.character-info {
  text-align: left;
  margin-left: 26px;
  max-width: 600px;
}

.character-name {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 700;
}

.character-description {
  margin-top: 10px;
  color: black;
  font-size: 1.4rem;
}

.comics-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  text-decoration: none;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details-container > * {
  margin-right: 200px;
}
