.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 240px;
  margin-right: 16px;
  margin-left: 16px;
}

.character-list > * {
  width: 270px;
  height: 270px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 16px;
}
